/* Transitions.css */

/* Page entry animation */
.page-enter {
  opacity: 0;
  transform: translate-x-full;
}

.page-enter-active {
  opacity: 1;
  transform: translate-x-0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Page exit animation */
.page-exit {
  opacity: 1;
  transform: translate-x-0;
}

.page-exit-active {
  opacity: 0;
  transform: translate-x-full;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
